.date {
	width: 100%;
	height: 100%;
	height: auto;
	/* aspect-ratio: 1; */
	border: 3px solid transparent;
	font-weight: bold;
	border-radius: var(--cal-border-radius);
	background: var(--cal-item-bg);
	color: var(--cal-item-color);
	padding: 1em;
}

.date:disabled {
	/* background: var(--cal-item-bg-disabled); */
	background: transparent;
	color: var(--cal-item-color-disabled);
}

.date.current {
	border-color: var(--cal-item-border-current);
}

.date.completed {
	background: var(--cal-item-bg-completed);
	color: var(--cal-item-color-completed);
}
