:root {
	--cal-border-radius: 5px;
	--cal-outer-padding: 0.5rem;
	--cal-grid-gap: calc(var(--cal-outer-padding) * 0.5);
	--cal-max-width: 640px;

	--cal-bg: rgb(200, 200, 200);
	--cal-item-bg: rgb(240, 240, 240);
	--cal-item-color: rgb(40, 40, 40);
	--cal-item-color-completed: white;
	--cal-item-bg-completed: green;
	--cal-item-bg-disabled: rgb(200, 200, 200);
	--cal-item-color-disabled: rgb(128, 128, 128);
	--cal-item-border-current: darkred;
}

.calendar {
	width: 100%;
	max-width: var(--cal-max-width);
	background: var(--cal-bg);
	display: flex;
	flex-direction: column;
	padding: var(--cal-outer-padding);
	gap: var(--cal-outer-padding);
	border-radius: var(--cal-border-radius);
}

.calendar .grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	align-items: center;
	justify-items: center;
	gap: var(--cal-grid-gap);
}
.weekday,
.date {
	width: 100%;
	height: auto;
	border: 3px solid transparent;
	border-radius: var(--cal-border-radius);
	font-weight: bold;
	background: var(--cal-item-bg);
	color: var(--cal-item-color);
}

.date {
	aspect-ratio: 1;
}

.date:not(:disabled) {
	cursor: pointer;
}

.date:disabled {
	background: var(--cal-item-bg-disabled);
	color: var(--cal-item-color-disabled);
}

.date.current {
	border-color: var(--cal-item-border-current);
}

.date.completed {
	background: var(--cal-item-bg-completed);
	color: var(--cal-item-color-completed);
}
