.calendar {
	width: 100%;
	margin: 1rem auto;
	background: var(--cal-bg);
	display: grid;
	grid-template-columns: 1fr 3fr 2rem;
	grid-template-rows: 2rem 1fr;
	justify-items: center;
	align-items: center;
	grid-template-areas:
		'title weekdays delete'
		'title dates .';
	padding: var(--cal-outer-padding);
	gap: var(--cal-outer-padding);
	border-radius: var(--cal-border-radius);
}

.grid {
	display: grid;
	align-items: center;
	justify-items: center;
	gap: var(--cal-grid-gap);
}

.calendar > *,
.grid > * {
	width: 100%;
	height: 100%;
}

.grid.weekdays,
.grid.dates {
	grid-template-columns: repeat(7, 1fr);
}

.grid > * {
	width: 100%;
	height: 100%;
	border: 3px solid transparent;
	font-weight: bold;
	border-radius: var(--cal-border-radius);
	background: var(--cal-item-bg);
	color: var(--cal-item-color);
}

.title-container {
	grid-area: title;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	align-items: center;
	justify-items: center;
	border-right: 2px solid rgba(0, 0, 0, 0.25);
}

.title-container .month {
	color: var(--body-bg);
	align-self: start;
}
.weekdays {
	grid-area: weekdays;
}
.dates {
	grid-area: dates;
}
.delete {
	grid-area: delete;
}
