:root {
	--body-bg: #292929;

	--cal-border-radius: 5px;
	--cal-outer-padding: 1rem;
	--cal-grid-gap: calc(var(--cal-outer-padding) * 0.5);

	--cal-bg: rgb(200, 200, 200);
	--cal-item-bg: rgb(240, 240, 240);
	--cal-item-color: rgb(40, 40, 40);
	--cal-item-color-completed: white;
	--cal-item-bg-completed: green;
	--cal-item-bg-disabled: rgb(200, 200, 200);
	--cal-item-color-disabled: rgb(128, 128, 128);
	--cal-item-border-current: darkred;
}

body {
	background-color: var(--body-bg);
}

.App {
	text-align: center;
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: calc(10px + 2vmin);
	color: white;
	padding: 1rem;
}

.App > .content {
	width: 100%;
	max-width: 768px;
}
